.info {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(200,200,200,0.20);
    /*box-sizing: border-box;*/
    /*border: rgba(0,0,0,0.50) dashed 2px;*/
    text-align: center;
    color: red;
    height: 0em;
    font-size: 0em;
    padding: 0.0em;
}

.testerka-header {
    display: none;
}

.testerka-srodek {
    margin: 5px 20px 0 20px;
    font-size: 50px;
}

.testerka-footer {
    display: none;
}

.testerka-menu {
    display: none;
}

.testerka-th td {
    background-color: #b0bec5;
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: roboto;
}

main {
    flex: 1 0 auto;
}

@font-face {
  font-family: roboto;
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Medium.woff') format('woff');*/
}

/*ue info*/
body > footer > div.container > div > div.col.l6.s12 {
    display: none;
}

.brand-logo {
    margin-top: -7px;
    transform: scale(0.7);
}

#nav-mobile {
    margin-right: 5%;
}